﻿
@{
    ViewBag.Title = "Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block">Karyawan</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="tabsKaryawanHead" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#panelList" role="tab" aria-controls="home" aria-selected="true">List Karyawan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="form-tab" data-toggle="tab" href="#panelFormInsert" role="tab" aria-controls="profile" aria-selected="false">Form Karyawan</a>
                        </li>
                        <li class="nav-item">
                            <div class="pull-right">
                                <a href="Javascript:Void(0);" class="nav-link" onclick="initInsertFormKaryawan();">Tambah Karyawan</a>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-12">
                    <div class="tab-content" id="tabsKaryawanContent">
                        <div class="tab-pane fade show active" id="panelList" role="tabpanel" aria-labelledby="List">

                            <div class="table-responsive">
                                <table id="tblKaryawan" class="display table table-hover table-striped tm-table-striped-even mt-3" style="width:100%;">
                                    <thead>
                                        <tr class="tm-bg-gray">
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">Nama</th>
                                            <th scope="col">UserName</th>
                                            <th scope="col" class="text-center">Alamat</th>
                                            <th scope="col" class="text-center">No Hp</th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="panelFormInsert" role="tabpanel" aria-labelledby="Form">

                            <form action="#" class="tm-edit-product-form" id="formKaryawan" method="post">
                                <input type="hidden" name="karyawan_id" id="karyawan_id" />
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Nama
                                    </label>
                                    <input id="karyawan_nama" name="karyawan_nama" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Phone
                                    </label>
                                    <input id="karyawan_phone" name="karyawan_phone" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="karyawan_alamat" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Alamat</label>
                                    <textarea class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" required name="karyawan_alamat" id="karyawan_alamat"></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        User Name
                                    </label>
                                    <input id="karyawan_username" name="karyawan_username" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Password
                                    </label>
                                    <input id="karyawan_password" name="karyawan_password" type="password" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                        <button type="submit" id="btn-submit-karyawan" class="btn btn-primary">
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section link_section{


    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Assets/theme/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- https://datatables.net/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/tooplate.css">

}


@section script_section{

    <script src="~/Assets/theme/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Assets/theme/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- https://datatables.net/ -->


    <script>
        var table;

        $(document).ready(function () {
            table = $('#tblKaryawan').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("ListKaryawan","Karyawan")",
                    type: "POST"
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                    { "data": "karyawan_id" },
                    { "data": "karyawan_nama" },
                    { "data": "karyawan_username" },
                    { "data": "karyawan_alamat" },
                    { "data": "karyawan_phone" },
                    {
                        "data": "karyawan_id",
                        "className": "text-center",
                        "render": function (data, type, row) {
                            return '<button type="button" class="btn btn-warning" onClick="getKaryawanById(\'' + data + '\');initUpdateFormKaryawan();"> Edit </button>&nbsp;<button type="button" class="btn btn-danger" onClick="deleteKaryawan(\'' + data + '\');"> Delete </button>';
                        }
                    }
                ]

            });


            $('#formKaryawan').on('submit', function (e) {

                var karyawan_id = $('#karyawan_id').val();


                if (karyawan_id === "") {

                    insertKaryawan();

                } else {
                    updateKaryawan();
                }

                e.preventDefault();
            });


            $('#list-tab').on('click', function (e) {

                table.ajax.reload();

            });



        });




        function insertKaryawan() {

            var result = confirm("Apakah ingin menambah data ?");

            if (result) {


                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("InsertKaryawan", "Karyawan")",
                    dataType: "json",
                    data: {
                        karyawan_id: $('#karyawan_id').val(),
                        karyawan_nama: $('#karyawan_nama').val(),
                        karyawan_alamat: $('#karyawan_alamat').val(),
                        karyawan_phone: $('#karyawan_phone').val(),
                        karyawan_username: $('#karyawan_username').val(),
                        karyawan_password: $('#karyawan_password').val(),
                    },
                    success: function (data) {
                        if (data.Status === true) {

                            alert(data.Message);

                        } else {

                            alert(data.Message);

                        }
                    }
                });


                initClearForm();
            }

        }


        function updateKaryawan() {

            var result = confirm("Apakah ingin mengubah data ?");

            if (result) {

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("UpdateKaryawan", "Karyawan")",
                    dataType: "json",
                    data: {
                        karyawan_id: $('#karyawan_id').val(),
                        karyawan_nama: $('#karyawan_nama').val(),
                        karyawan_alamat: $('#karyawan_alamat').val(),
                        karyawan_phone: $('#karyawan_phone').val(),
                        karyawan_username: $('#karyawan_username').val(),
                        karyawan_password: $('#karyawan_password').val(),
                    },
                    success: function (data) {
                        if (data.Status === true) {

                            alert(data.Message);

                        } else {

                            alert(data.Message);

                        }
                    }
                });

            }

        }


        function deleteKaryawan(karyawan_id) {

            var result = confirm("Apakah ingin menhhapus data ?");


            if (result) {

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("DeleteKaryawan", "Karyawan")",
                    dataType: "json",
                    data: {
                        karyawan_id: karyawan_id
                    },
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);
                            table.ajax.reload();

                        } else {
                            alert(data.Message);
                        }

                    }
                });

            }


        };


        function getKaryawanById(karyawan_id) {

            initInsertFormKaryawan();


            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetKaryawanById", "Karyawan")",
                dataType: "json",
                data: {
                    karyawan_id: karyawan_id
                },
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);

                        $('#karyawan_id').val(data.Data["karyawan_id"]);
                        $('#karyawan_nama').val(data.Data["karyawan_nama"]);
                        $('#karyawan_alamat').val(data.Data["karyawan_alamat"]);
                        $('#karyawan_username').val(data.Data["karyawan_username"]);
                        $('#karyawan_phone').val(data.Data["karyawan_phone"]);
                        $('#karyawan_password').val(data.Data["karyawan_password"]);

                    } else {

                        alert(data.Message);

                    }



                }
            });



        }


        function initInsertFormKaryawan() {

            $('#form-tab').trigger('click');

            $('#btn-submit-karyawan').text("Simpan");

            initClearForm();

        }


        function initUpdateFormKaryawan() {

            $('#btn-submit-karyawan').text("Update");
        }


        function initClearForm() {

            $('#formKaryawan').trigger('reset');

        };





    </script>

}
