﻿
@{
    ViewBag.Title = "Pelanggan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row tm-content-row tm-mt-big">
    <div class="col-xl-12 col-lg-12 tm-md-12 tm-sm-12 tm-col">
        <div class="bg-white tm-block h-100">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2 class="tm-block-title d-inline-block">Pelanggan</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="tabsPelangganHead" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="list-tab" data-toggle="tab" href="#panelList" role="tab" aria-controls="home" aria-selected="true">List Pelanggan</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="form-tab" data-toggle="tab" href="#panelFormInsert" role="tab" aria-controls="profile" aria-selected="false">Form Pelanggan</a>
                        </li>
                        <li class="nav-item">
                            <div class="pull-right">
                                <a href="Javascript:Void(0);" class="nav-link" onclick="initInsertFormPelanggan();">Tambah Pelanggan</a>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
            <div class="row" style="margin-top:20px;">
                <div class="col-sm-12">
                    <div class="tab-content" id="tabsPelangganContent">
                        <div class="tab-pane fade show active" id="panelList" role="tabpanel" aria-labelledby="List">

                            <div class="table-responsive">
                                <table id="tblPelanggan" class="display table table-hover table-striped tm-table-striped-even mt-3" style="width:100%;">
                                    <thead>
                                        <tr class="tm-bg-gray">
                                            <th scope="col">&nbsp;</th>
                                            <th scope="col">Nama</th>
                                            <th scope="col" class="text-center">Alamat</th>
                                            <th scope="col" class="text-center">No Hp</th>
                                            <th scope="col">&nbsp;</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="panelFormInsert" role="tabpanel" aria-labelledby="Form">

                            <form action="#" class="tm-edit-product-form" id="formPelanggan" method="post">
                                <input type="hidden" name="pelanggan_id" id="pelanggan_id" />
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Nama
                                    </label>
                                    <input id="pelanggan_nama" name="pelanggan_nama" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="name" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">
                                        Phone
                                    </label>
                                    <input id="pelanggan_phone" name="pelanggan_phone" type="text" class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7">
                                </div>
                                <div class="input-group mb-3">
                                    <label for="pelanggan_alamat" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 mb-2">Alamat</label>
                                    <textarea class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7" rows="3" required name="pelanggan_alamat" id="pelanggan_alamat"></textarea>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="ml-auto col-xl-8 col-lg-8 col-md-8 col-sm-7 pl-0">
                                        <button type="submit" id="btn-submit-pelanggan" class="btn btn-primary">
                                            Simpan
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>





@section link_section{


    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Assets/theme/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- https://datatables.net/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/tooplate.css">

}


@section script_section{

    <script src="~/Assets/theme/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Assets/theme/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- https://datatables.net/ -->




    <script>
        var table;

        $(document).ready(function () {
            table = $('#tblPelanggan').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("ListPelanggan","Pelanggan")",
                    type: "POST"
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                    { "data": "pelanggan_id" },
                    { "data": "pelanggan_nama" },
                    { "data": "pelanggan_alamat" },
                    { "data": "pelanggan_phone" },
                    {
                        "data": "pelanggan_id",
                        "className": "text-center",
                        "render": function (data, type, row) {
                            return '<button type="button" class="btn btn-warning" onClick="getPelangganById(\'' + data + '\');initUpdateFormPelanggan();"> Edit </button>&nbsp;<button type="button" class="btn btn-danger" onClick="deletePelanggan(\'' + data + '\');"> Delete </button>';
                        }
                    }
                ]

            });


            $('#formPelanggan').on('submit', function (e) {

                var pelanggan_id = $('#pelanggan_id').val();


                if (pelanggan_id === "") {

                    insertPelanggan();

                } else {
                    updatePelanggan();
                }

                e.preventDefault();
            });


            $('#list-tab').on('click', function (e) {

                table.ajax.reload();

            });



        });




        function insertPelanggan() {

            var result = confirm("Apakah ingin menambah data ?");

            if (result) {


                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("InsertPelanggan", "Pelanggan")",
                    dataType: "json",
                    data: {
                        pelanggan_id: $('#pelanggan_id').val(),
                        pelanggan_nama: $('#pelanggan_nama').val(),
                        pelanggan_alamat: $('#pelanggan_alamat').val(),
                        pelanggan_phone: $('#pelanggan_phone').val(),
                    },
                    success: function (data) {
                        if (data.Status === true) {

                            alert(data.Message);

                        } else {

                            alert(data.Message);

                        }
                    }
                });


                initClearForm();
            }

        }


        function updatePelanggan() {

            var result = confirm("Apakah ingin mengubah data ?");

            if (result) {

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("UpdatePelanggan", "Pelanggan")",
                    dataType: "json",
                    data: {
                        pelanggan_id: $('#pelanggan_id').val(),
                        pelanggan_nama: $('#pelanggan_nama').val(),
                        pelanggan_alamat: $('#pelanggan_alamat').val(),
                        pelanggan_phone: $('#pelanggan_phone').val(),
                    },
                    success: function (data) {
                        if (data.Status === true) {

                            alert(data.Message);

                        } else {

                            alert(data.Message);

                        }
                    }
                });

            }

        }


        function deletePelanggan(pelanggan_id) {

            var result = confirm("Apakah ingin menhhapus data ?");


            if (result) {

                $.ajax({
                    type: 'POST',
                    url: "@Url.Action("DeletePelanggan", "Pelanggan")",
                    dataType: "json",
                    data: {
                        pelanggan_id: pelanggan_id
                    },
                    success: function (data) {

                        if (data.Status === true) {

                            alert(data.Message);
                            table.ajax.reload();

                        } else {
                            alert(data.Message);
                        }

                    }
                });

            }


        };


        function getPelangganById(pelanggan_id) {

            initInsertFormPelanggan();


            $.ajax({
                type: 'POST',
                url: "@Url.Action("GetPelangganById", "Pelanggan")",
                dataType: "json",
                data: {
                    pelanggan_id: pelanggan_id
                },
                success: function (data) {

                    if (data.Status === true) {

                        alert(data.Message);

                        $('#pelanggan_id').val(data.Data["pelanggan_id"]);
                        $('#pelanggan_nama').val(data.Data["pelanggan_nama"]);
                        $('#pelanggan_alamat').val(data.Data["pelanggan_alamat"]);
                        $('#pelanggan_username').val(data.Data["pelanggan_username"]);
                        $('#pelanggan_phone').val(data.Data["pelanggan_phone"]);
                        $('#pelanggan_password').val(data.Data["pelanggan_password"]);

                    } else {

                        alert(data.Message);

                    }



                }
            });



        }


        function initInsertFormPelanggan() {

            $('#form-tab').trigger('click');

            $('#btn-submit-pelanggan').text("Simpan");

            initClearForm();

        }


        function initUpdateFormPelanggan() {

            $('#btn-submit-pelanggan').text("Update");
        }


        function initClearForm() {

            $('#formPelanggan').trigger('reset');

        };





    </script>

}
