﻿
@{
    ViewBag.Title = "CucianMasukBaru";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top: 50px;background-color:#ffffff;padding:10px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="alert alert-info pd-info">No Transaksi</div>
            <div class="form-group form-group-height">
                <label>No Transaksi</label>
                <input class="form-control input-sm" type="text" />
            </div>
        </div>

        <div class="col-lg-4">
            <div class="alert alert-info pd-info">Data Pelanggan</div>
            <div class="form-group form-group-height">
                <label>Nama Pelanggan</label>
                <input class="form-control" type="text" />
            </div>
        </div>

        <div class="col-lg-4">
            <div class="alert alert-info pd-info">Tanggal Transaksi</div>
            <div class="form-group form-group-height">
                <label>Tanggal Terima</label>
                <input class="form-control" type="text" />
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info pd-info">Enter Transaksi</div>
        </div>
        <div class="col-lg-4">
            <div class="form-group form-group-height">
                <label>Nama Item</label>
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group form-group-height">
                <label>Jumlah</label>
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group form-group-height">
                <label>Satuan</label>
                <input class="form-control" type="text" />
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group form-group-height">
                <button type="submit" class="btn btn-sm">Add To List</button>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-8">
            <div class="alert alert-info pd-info">List laundry item</div>
        </div>

        <div class="col-lg-4">
            <div class="alert alert-info pd-info">Pembayaran Total</div>
        </div>
        <div class="col-lg-8">
            <div class="table-responsive">
                <table id="tblCucianMasuk" class="display table table-hover table-striped tm-table-striped-even mt-3" style="width:100%;">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">

                            </th>
                            <th scope="col">Nama</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Total</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="form-group form-group-height">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-8"></div>
            
        </div>

</div>



@section link_section{


    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Assets/theme/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- https://datatables.net/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/tooplate.css">

    <style>
        .pd-info {
            padding: 2px 0px;
        }

        .form-group-height {
            line-height: 0px !important;
        }

            .form-group-height label {
                margin-bottom: 12px !important;
            }

            .form-group-height input {
                height: 0px !important;
                padding: 12px 12px;
            }

            .form-group-height button {
                padding: 12px 10px !important;
                border-radius: 28% !important;
                background-color: #77bf6a;
                color: #fff;
                font-weight: bold;
            }
    </style>

}


@section script_section{

    <script src="~/Assets/theme/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Assets/theme/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- https://datatables.net/ -->


    <script>
        var table;

        $(document).ready(function () {
            table = $('#tblCucianMasuk').DataTable({
                "processing": true,
                "serverSide": true,
                "info": false,
                "paging": false,
                "searching": false,
                "ajax": {
                    url: "@Url.Action("ListCucianMasuk","Transaksi")",
                    type: "POST"
                },
                "columns": [
                    { "data": "transaksi_datetime" },
                    { "data": "pelanggan_nama" },
                    { "data": "transaksi_status" },
                    { "data": "transaksi_total" },
                    {
                        "data": "transaksi_id",
                        "className": "text-center",
                        "render": function (data, type, row) {
                            return '<button type="button" class="btn btn-warning" onClick=""> Edit </button>&nbsp;<button type="button" class="btn btn-danger" onClick=""> Delete </button>';
                        }
                    }
                ]

            });


        });



    </script>

}
