﻿
@{
    ViewBag.Title = "CucianMasuk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container" style="margin-top: 50px;background-color:#ffffff;padding:50px;">
    <div class="row">
        <div class="col-lg-12">
            <h3>List Cucian Masuk</h3>
        </div>
    </div>

    <div class="row" style="margin-top:25px;">
        <div class="col-lg-12">
            <div class="pull-right">
                <a href="@Url.Action("CucianMasukBaru","Transaksi")" class="btn btn-block btn-sm btn-primary">Transaksi Baru</a>
            </div>
        </div>

        <div class="col-lg-12" style="margin-top:25px;">

            <div class="table-responsive">
                <table id="tblCucianMasuk" class="display table table-hover table-striped tm-table-striped-even mt-3" style="width:100%;">
                    <thead>
                        <tr class="tm-bg-gray">
                            <th scope="col">Date</th>
                            <th scope="col">Nama</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Total</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

</div>



@section link_section{


    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Assets/theme/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <!-- https://datatables.net/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/tooplate.css">

}


@section script_section{

    <script src="~/Assets/theme/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Assets/theme/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- https://datatables.net/ -->


    <script>
        var table;

        $(document).ready(function () {
            table = $('#tblCucianMasuk').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "@Url.Action("ListCucianMasuk","Transaksi")",
                    type: "POST"
                },
                "language": {
                    "search": "",
                    "searchPlaceholder": "Search..."
                },
                "columns": [
                    { "data": "transaksi_datetime" },
                    { "data": "pelanggan_nama" },
                    { "data": "transaksi_status" },
                    { "data": "transaksi_total" },
                    {
                        "data": "transaksi_id",
                        "className": "text-center",
                        "render": function (data, type, row) {
                            return '<button type="button" class="btn btn-warning" onClick="getKaryawanById(\'' + data + '\');initUpdateFormKaryawan();"> Edit </button>&nbsp;<button type="button" class="btn btn-danger" onClick="deleteKaryawan(\'' + data + '\');"> Delete </button>';
                        }
                    }
                ]

            });


        });



    </script>

}

