﻿
@{
    ViewBag.Title = "KlaimCucian";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container" style="margin-top: 50px;background-color:#ffffff;padding:50px;">
    <div class="row">
        <div class="col-lg-12">
            <h3>List Klaim Cucian</h3>
        </div>
    </div>



</div>



@section link_section{


    <!--

    Template 2108 Dashboard

    http://www.tooplate.com/view/2108-dashboard

    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Assets/theme/css/fontawesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Assets/theme/css/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->

    <link rel="stylesheet" href="~/Assets/theme/css/tooplate.css">

}


@section script_section{

    <script src="~/Assets/theme/js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="~/Assets/theme/js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->




}

