﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h3>Login Page</h3>
        <br />
        <a href="@Url.Action("Index","Home")">Go to Dashboard</a>
    </div>
</body>
</html>
